---
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {

    let projects = await Astro.glob('./projectsd/*{.md, mdx}')

    return projects.map((project) => ({
        params:{project:projects}
    }))
}
---

<MainLayout title="Product">
    <h1>Product</h1>

</MainLayout>