---
import '../layouts/MainLayout.astro'
import MainLayout from '../layouts/MainLayout.astro';
//imported the folder then the layout itself
---
<MainLayout title={'No Sleep'}>
	<h1>Astro(Website1)</h1>
</MainLayout>
<!-- this dont put anything outside the Mainlayout for now-->

